.historyBack{
    float: left;
    width: 30px;
    height: 30px;
    background-image: url("../images/boldArrow.png");
    background-size: contain;
    transform: rotate(90deg);
    background-repeat: no-repeat;
    margin: 10px;
    cursor: pointer;
}
.historyForward{
    cursor: pointer;
    float: left;
    width: 30px;
    height: 30px;
    background-image: url("../images/boldArrow.png");
    background-size: contain;
    transform: rotate(-90deg);
    background-repeat: no-repeat;
    margin: 10px;
}
.emailTray{
    float: right;
    width: 30px;
    height: 30px;
    margin: 5px;
    margin-right: 20px;
    background-image: url("../images/emailTray.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.downArrow{
    float: right;
    width: 30px;
    height: 30px;
    margin: 5px;
    background-image: url("../images/downArrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}