.historyBack{
    float: left;
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    margin: 10px;
    cursor: pointer;
}
.historyForward{
    cursor: pointer;
    float: left;
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    margin: 10px;
}