.notesActionArea{
    position: fixed;
    width: 59%;
    margin-left: 20%;
    margin-top: 60px;
    height: 100%;
    background-color: #444;
    z-index: 1;
}
.noteDisplayArea{
    float: left;
    overflow-y: scroll;
    height:70%;
    width:100%;
    margin-top: 30px;
}
.noteDisplayAreaHeader{
    float: left;
    width: 100%;
    height: 30px;
}
.ndaHeaderTitle{
    float: left;
    width: 140px;
    font-size: 18px;
    color: #fff;
    margin-left: 10px;
}
.noteDisplay{
    float: left;
    margin: 5px;
    width: 40%;
    height: 140px;;
    background-color: #aaa;
    color: #fff;
    cursor: pointer;
}
.ndaNoteSource{
    margin-top: 10px;
    width: 100%;
    float: left;
    height: 20px;
    font-size: 16px;
    background-color: #fff;
}
.ndaNoteSourceText{
    float: left;
    width: 33%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}
.ndaSourceHighlight{
    position: absolute;
    width: 20px;
    height: 16px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: 15%;
}
.ndaToolBarSourceHighlight{
    position: absolute;
    width: 10px;
    height: 16px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: 5px;
}
.ndUserDetails{
    float: left;
    width: 100%;
    height: 20px;
    background-color: #888;
}
.ndUserPic{
    background-image:url("");
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    float: right;
    margin:1px;
    background-color: #999;
}
.ndUsername{
    float: right;
    margin: 3px;
    font-weight: 100;
    font-size: 12px;
}
.ndStats{
    float: left;
    width: 25%;
    height: 100%;
/*    background-color: #444;*/
    font-size: 10px;
    text-align: center;
    font-weight: 100;
    margin-top: 3px;
}
.ndStatsViews{
    float: left;
    width: 50%;
}
.ndStatsGrabs{
    float: left;
    width: 50%;
}
.ndNoteTitle{
    float: left;
    width: 100%;

    height: 20px;
    background-color: #555;
}
.ndNoteTitleText{    
    float: left;
    margin-left:15px;
    margin-top:3px;
    font-size:12px;
    font-weight:200;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
}
.ndNoteContent{
/*
    float: left;
    width: 100%;
*/
    height: 80px;
    background-color: #aaa;
    
    float: left;
    margin-left:18px;
    margin-right:18px;
    max-width: 300px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin-top:3px;
    font-size:10px;
    font-weight:lighter;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    word-wrap: normal;
    color: #000;
}
.ndNoteToolBar{
    bottom: 20px;;
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: #555;
}
.ndNoteToolDisplayBar{
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: #222;
}
.ndTool{
    float: left;
    margin: 3px;
    height: 14px;
    width: 14px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
}
.ndGrabNote{
    float: right;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
}
/* Large note display*/
.ndaNoteDisplayOverlay{
    position: absolute;
    width: 103%;
    height: 100%;
    margin-top: -30px;
    background-color: black;
    opacity: .8;
    margin-left: -13px;
}
.ndaLargeNoteDisplay{
    width: 80%;
    position: absolute;
    height: 65%;
    margin-left: 10%;
    margin-top: 5%;
    background-color: #fff;
    z-index: 3;
}

/*SEARCH BOX */

.search { 
	padding:6px 15px 6px 30px;
	margin:3px; 
	background: url('../../images/search.png') no-repeat 8px 6px; 
}
.rounded { 
	border-radius:15px; 
	-moz-border-radius:15px; 
	-webkit-border-radius:15px; 
}
input[type=text]{
	color:#bcbcbc;
}
input[type=button], input[type=button]:hover {
	position:relative; 
	left:-6px;
	border:1px solid #adc5cf;
	background: #e4f1f9; /* Old browsers */
	background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f9), color-stop(100%,#d5e7f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* IE10+ */
	background: linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
	color:#7da2aa;
	cursor: pointer;
}
.lighter, .light, .dark {
	height:50px;
}
.dark{
    float: right;
}
.dark input[type=text]{
	border:1px solid #2a2e31;
	background-color:#2d3035;
	color:#505358;
}
.light{
    float: right;
    margin-top: 5px;
}
.light input[type=text]{
	border:1px solid #acb1b7;
	background-color:#ccc;
}